body.landing header#header{
    position:fixed;
    background-color: #191b23;
}


.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

header#header nav#nav ul li a:active{
    background-color: black;
}

.my_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    border-left:9px solid green;
}

.my_content2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    border-right:9px solid #6d6179;
    padding-top:100px;
    padding-bottom:100px;
}



.skill_set li{
    list-style: none;
}

.main_projects{
    display:flex;
}

#About{
    padding: 80px;
}



.first_projects{
    height: 70%;
    display: flex;
    align-items: center;
    padding:10px 40px;
    background-image: url('https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size:cover;
}

.first_projects_inner{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_projects_inner a{
    flex-basis: 15%;
    border-bottom:none !important;
}

.first_projects_inner img{
    width: 100%;
}

#one .container{
    margin-top: 20px;
}

.my_carousel{
    width: 70% !important;
    background-color: white;
    display: flex;
    align-items:center;
    padding: 0 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    background: url('https://images.unsplash.com/Ys-DBJeX0nE.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}

footer{
    text-align: center;
}

@media (max-width:981px){

    #one .content{
        padding: 0 20px;
    }
    
    .main_projects{
        flex-direction: column;
    }

    .my_carousel{
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }

    .my_content{
        padding-top:100px;
        padding-bottom:100px;
    }
    
    .my_content2{
        order:50;   
    }
}

