.text-right{
    text-align: right;
}

.my_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.my_icon{
    border-radius: 0 !important;
    background: none !important;
}