



.my_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    border-left:9px solid green;
}

.my_content2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    border-right:9px solid #6d6179;
    padding-top:100px;
    padding-bottom:100px;
}



.skill_set li{
    list-style: none;
}

.main_projects{
    display:flex;
}

#About{
    padding: 60px;
}



#one .container{
    margin-top: 20px;
}

.my_carousel{
    width: 70% !important;
    background-color: white;
    display: flex;
    align-items:center;
    padding: 0 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    background: url('https://images.unsplash.com/Ys-DBJeX0nE.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}


footer{
    text-align: center;
}





/* animation for main name */
h1{   
    font-size: 4rem;
    margin-bottom: 10px;
    font-weight: bold;
}

h1 span{
    opacity: 0;
    display: inline-block;
    animation:anim 1s linear forwards;
}

#Home p{
    font-size: 1.5rem;
    font-weight: bold;
}

@keyframes anim{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform:rotateY(0deg);
        filter:blur(0)
    }
}

h1 span:nth-child(1){
    animation-delay: 1s;
}
h1 span:nth-child(2){
    animation-delay: 1.25s;
}
h1 span:nth-child(3){
    animation-delay: 1.5s;
}
h1 span:nth-child(4){
    animation-delay: 2.25s;
}
h1 span:nth-child(5){
    animation-delay: 2.5s;
}
h1 span:nth-child(6){
    animation-delay: 2.75s;
}
h1 span:nth-child(7){
    animation-delay: 3s;
}
h1 span:nth-child(8){
    animation-delay: 3.25s;
}
h1 span:nth-child(9){
    animation-delay: 3.5s;
}
h1 span:nth-child(10){
    animation-delay: 3.75s;
}
h1 span:nth-child(11){
    animation-delay: 4s;
}



#card_projects{
    height: 1000px;
    position: relative;    
}

.card_projects_inner{
    display: grid;
    width: 80%;
    grid-template-columns: 240px 240px 240px;
    grid-gap:50px 50px;
    margin: 0 auto;
    align-content: center;
    height: 100%;
    justify-content: center;
}

.card{
    height: 400px;
    box-shadow: 7px 7px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.card h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.card p{
    text-align: center;
}

div .card> div{
    width: 100%;
}

.card button{
    background-color: #1c1d26;
    border: 1px solid #fff;
    padding: 8px 29px;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.card button a{
    text-decoration: none;
    color:#fff;
    border-bottom: none;
}


.card_projects_inner .card:nth-child(1){
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/burger.JPG');
    background-size: cover;
}

.card_projects_inner .card:nth-child(2){
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/s1.JPG');
    background-size: cover;
}

.card_projects_inner .card:nth-child(3){
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/facebook.JPG');
    background-size: cover;
}

.card_projects_inner .card:nth-child(4){
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/bootstrap1.JPG');
    background-size: cover;
}

.card_projects_inner .card:nth-child(5){
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/fem1.jpg');
    background-size: cover;
    grid-column: 2/ span 1;
}

.card_projects_inner .card:nth-child(6){
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../images/fem2.jpg');
    background-size: cover;
}

/* button animation */
.card button:nth-child(1){
    transform: translateY(-80px);
    visibility: hidden;
    opacity: 0;
}

.card:hover button:nth-child(1){
    transform: translateY(0);
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
}

.card button:nth-child(3){
    transform: translateY(80px);
    visibility: hidden;
    opacity: 0;
}

.card:hover button:nth-child(3){
    transform: translateY(0);
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
}




/* icon effects */
ul#Contact{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul#Contact li{
    width: 60px;
    height: 60px;
    list-style: none;
    margin: 0 50px;
    padding-left: 0;
    transform: rotate(-30deg) skew(25deg)
}

ul#Contact li a{
    border-bottom: none;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    color: #ffffff;
}

ul#Contact li a span{
    width: 100%;
    height:100%;
    position: absolute;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

ul#Contact li:hover a span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
    color:#ffffff; 
}
ul#Contact li:hover a span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8; 
}
ul#Contact li:hover a span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6; 
}
ul#Contact li:hover a span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4; 
}
ul#Contact li:hover a span:nth-child(1){
    transform: translate(0, 0);
    opacity: 0.2; 
}

ul#Contact li:nth-child(1) span{
    background:#3b5998;
}
ul#Contact li:nth-child(2) span{
    background: #0073b0;
}
ul#Contact li:nth-child(3) span{
    background: #000000;
}


/*indicator effect*/
.indicator {
  position: absolute;
  top:150px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.indicator span {
  position: absolute;
  
  width: 100%;
  height: 100%;
  display: block;
  animation: animate 1s linear infinite;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
}
.indicator span:nth-child(1) {
    bottom:0px ;
    left:0px ;
    animation-delay: 0s;
}
.indicator span:nth-child(2) {
  bottom: 15px;
  left: 15px;
  animation-delay: 0.2s;
}
.indicator span:nth-child(3) {
  bottom:30px ;
  left: 30px;
  animation-delay: 0.4s;
}
.indicator span:nth-child(4) {
  bottom: 45px;
  left: 45px;
  animation-delay: 0.6s;
}
.indicator span:nth-child(5) {
  bottom:60px ;
  left: 60px;
  animation-delay: 0.8s;
}

@keyframes animate {
  0% {
    border-color: #fff;
}
20% {
    border-color: #fff;
}
20.1%, 100% {
    border-color: #222;
}
}




@media (max-width:1200px){
    

    .indicator span:nth-child(4) {
        display: none;
    }
    .indicator span:nth-child(5) {
        display: none;
    }
}

@media (max-width:981px){
    #header{
        display: block;
    }

    #jumbotron{
        margin-top: 0;
    }

    #one .content{
        padding: 0 20px;
    }
    
    .main_projects{
        flex-direction: column;
        
    }

    .my_carousel{
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }

    .my_content{
        padding-top:100px;
        padding-bottom:100px;
        order:-6;
    }

    .directions{
        justify-content: center;
        margin-top:20px;
    }

    #card_projects{
        height: auto;
        padding-top:100px;
    }

    .card_projects_inner{
        grid-template-columns: 240px 240px;
    }

    .card_projects_inner .card:nth-child(5){
        grid-column: 1/ span 1;
    }




}

@media (max-width:768px){
    h1{
        font-size: 3rem;
    }

    #Home p{
        font-size:1rem;
    }

    .card_projects_inner{
        grid-template-columns: 240px;
    }
}

@media (max-width:576px){
    h1{
        font-size: 1.8rem;
    }

    ul#Contact li {
        margin: 0;
    }

    .indicator{
        left: -30px;
    }
}
